speechrecognition
gtts
ffmpeg-python
PyMuPDF
openpyxl
xlrd
requests
beautifulsoup4
numpy
moviepy==2.1.2
pydub
imageio-ffmpeg
streamlit-webrtc
av
nltk
lxml
openai
python-docx
pandas
PyPDF2
streamlit
