speechrecognition
gtts
ffmpeg-python
PyMuPDF
openpyxl
xlrd
requests
beautifulsoup4
numpy
moviepy==2.1.2
pydub
imageio-ffmpeg
streamlit-webrtc
av
nltk
lxml
openai

# PyTorch CPU-only
torch==2.2.0+cpu
torchvision==0.17.0+cpu
torchaudio==2.2.0+cpu

# Sentence Transformers
sentence-transformers==2.2.2

# Document handling
PyPDF2==3.0.1
python-docx==0.8.12
pandas==2.1.1
faiss-cpu==1.7.4

# Streamlit
streamlit==1.26.0
