streamlit
Pillow
pytesseract
python-docx
speechrecognition
lxml
pydub
streamlit-webrtc
pandas
openpyxl
PyPDF2
numpy
av
google-genai
protobuf>=4.25.3
gTTS





















