streamlit
Pillow
pytesseract
python-docx
speechrecognition
lxml
pydub
streamlit-webrtc
pandas
openpyxl
PyPDF2
numpy
av
google-generativeai>=0.5.0
protobuf>=4.25.3





















